/* General Styles */
* {
    font-family: Arial;
    color: inherit;
    background-color: transparent;
}

/* Flex Container */
.flex-container {
    width: 400px;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: #0388A6;
}

/* Header Styling */
h1, h2 {
    font-family: Arial Black;
    font-size: 40px;
    color: #04668C;
    text-align: left;
    position: relative;
}

h2, h3, h4 {
    font-size: 25px;
    color: #F2A007;
    text-align: center;
    background-color: transparent;
}

h3, h4 {
    font-family: Arial;
    font-style:oblique;
    font-weight: lighter;
    text-align: left;
    padding: 5px;
}

h4 {
    font-size: 15px;
    font-style: normal;
    font-weight:800;
    padding-bottom: 0px;
}

/* Dove Icon */
.v-container::after {
    content: "";
    position: static;
    width: 40px;
    height: 40px;
    background-image: url('/images/doveWordmark.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: text-bottom;
}

/* Settings Cog */
.settings-cog {
    position: relative;
    left: 15%;
    top: -10px;
    width: 30px;
    height: 30px;
    background-image: url('/images/settingsCog.png');
    background-size: contain;
    border: none;
    background-color: transparent;
}

/* Dark Blue Background */
.bg-container {
    background-color: transparent;
    width: 97%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}

.bg-container.other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

/* Input and Button Styling */
input[type="text"], input[type="text"]:hover, input[type="number"] {
    border: none;
    color: #F28705;
    border-radius: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

input[type="number"] {
    text-align: right;
}

input:hover {
    background-color: rgba(4, 102, 140, 0.5);
}

button {
    padding: 10px 15px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#deleteButton {
    background-image: url('/images/trashClosed.png');
    width: 25px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px;
    margin-left: 0px;
    background-color: transparent;
}

#deleteButton:hover {
    background-image: url('/images/trashOpen.png');
    width: 30px;
    height: 50px;
}

/* Nav-Bar Buttons */
.boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.unselected-box, .selected-box  {
    border-radius: 10px;
    background-color: #F2A007;
    position: relative;
    text-align: center;
    text-decoration-thickness: auto;
    width: 30%;
}

.unselected-box:focus, .selected-box {
    outline: 0;
    background-color: #F28705;

}

.unselected-box:after, .selected-box::after{
    content: '';
    position: absolute;
    border: 2px solid #8C5C4A;
    border-radius: 10px;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.unselected-box:hover:after, .selected-box::after {
    bottom: 2px;
    left: 2px;
}
.unselected-box:hover {
    background-color: #F28705;
}

.coolText {
    color: #8C5C4A;
}

/* Global Styles */
div, ul, li {
    background-color: transparent;
}

/* Placeholder Styling */
::placeholder {
    color: #F2A007;
}

/* Task List */
ul {
    display: flex;
    gap: 5px;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

ul div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    align-content: center;
    border:5px solid #04668C;
    border-radius: 10px;
}

li {
    cursor: move;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    background-color: rgba(4, 102, 140, 0.5);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.notDrag {
    cursor:auto;
}

/* each text point in the list */
span {
    color:#F2A007;
    width: 75vw;
    word-wrap:break-word;
}

#bulletPoint {
    width: 25px;
    height: 25px;
    background-image: url('/images/draggableBulletUI.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none !important;
    border-radius: 0% !important;
}

/* for countdown timer */
.timer-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    position: relative;
}

.edit-buttons {
    position: relative;
    width: 110px;
    height: 40px;
    font-weight: 900;
    background-color: #04668C;
    border-radius: 30%;
    color: #0388A6;
    padding: 0%;
    z-index: 10;
    margin: 5px;
}

.edit-buttons:hover {
    background-color: #0388A6;
    color: #04668C;
    border: #04668C solid 3px;
}

button#redirectBtn {
    top: 50%;
    width: 75px;
    left: 46%;
}

.countdown {
    position: relative;
    background-color: transparent;
    font-size:large;
    text-align: center;
}

.circular-progress {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
    background-color: #04668C;
    flex-direction: column;
}

.circular-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vw;
    content: "";
    position: relative;
    border-radius: 50%;
    background-color: #04668C;
}

/* Default containers */
.row-container {
    align-items: center;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    width: 100%;
}

.column-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

/* Settings' Fancy Checkboxes */
input[type="range"] {
    accent-color: #F28705;
}

/* WORK & REST DOVE */
.dove-text {
    color: #F2A007;
    background-color: #04668C;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50px;
}

.dove-countdown-before, .dove-countdown-after {
    color: rgba(242, 160, 7, 0.3);
    background-color: rgba(4, 102, 140, 0.5);
    border-radius: 50px;
    font-size:medium;
    font-weight: 700;
    padding: 5px;
    align-self: flex-end;
}
.dove-countdown {
    font-weight: 900;
    color: #F28705;
    background-color: rgba(4, 102, 140, 0.5);
    border-radius: 50px;
    font-size: larger;
    padding: 10px;
    align-self: flex-end;
}
