/* General Styles */
* {
    font-family: Arial;
    color: inherit;
    background-color: inherit;
}

/* Flex Container */
.flex-container {
    width: 400px;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* gap: 10px; */
    padding: 10px;
    background-color: #0388A6;
}

/* Header Styling */
h1, h2 {
    font-family: Arial Black;
    font-size: 40px;
    color: #04668C;
    text-align: left;
    position: relative;
}

h2, h3 {
    font-size: 25px;
    color: #F2A007;
    text-align: center;
    background-color: #04668C;
}

h3 {
    font-family: Arial;
    font-style:oblique;
    font-weight: lighter;
    text-align: left;
    padding: 5px;
}

/* Dove Icon */
.v-container::after {
    content: "";
    position: static;
    width: 40px;
    height: 40px;
    background-image: url('/images/doveWordmark.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: text-bottom;
}

/* Settings Cog */
.settings-cog {
    position: relative;
    left: 15%;
    top: -10px;
    width: 30px;
    height: 30px;
    background-image: url('/images/settingsCog.png');
    background-size: contain;
    border: none;
    background-color: #0388A6;
}

.settings-cog:hover {
    background-color: #0388A6;
}

/* Dark Blue Background */
.bg-container {
    background-color: #04668C;
    width: 97%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
}

/* Input and Button Styling */
input[type="text"], input[type="text"]:hover {
    border: none;
}

button {
    padding: 10px 15px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#deleteButton {
    background-image: url('/images/trashClosed.png');
    width: 25px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px;
    margin-left: 0px;
    background-color: #04668C;
}

#deleteButton:hover {
    background-image: url('/images/trashOpen.png');
    width: 30px;
    height: 50px;
}

/* Nav-Bar Buttons */
.boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.unselected-box, .selected-box {
    width: 30%;
    height: 80px;
    background-color: #0388A6;
    border: #8C5C4A solid 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #F2A007;
    background-position: center;
}

#goalIcon {
    background-image: url('/images/goalsIcon.png');
}

#workIcon {
    background-image: url('/images/workIcon.png');
}

#restIcon {
    background-image: url('/images/restIcon.png');
}

.selected-box, .unselected-box:hover {
    height: 85px;
    background-color: #F28705;
}

/* Global Styles */
div, ul, li {
    background-color: inherit;
}

/* Placeholder Styling */
::placeholder {
    color: #F2A007;
}

/* Task List */
ul {
    list-style-type: none;
    padding: 0;
}

ul div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    border-bottom:5px solid #0388A6;
}

li {
    cursor: grab;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

/* each text point in the list */
span {
    color:#F28705;
    width: 75vw;
}

#bulletPoint {
    width: 25px;
    height: 25px;
    background-image: url('/images/leafBulletPoint.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: none;
    margin-right: 15px;
}

/* for countdown timer */
.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls {
    width: 20%;
    /* margin-top: 10%; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.countdown-container {
    position: relative;
    width: 40vw;
    height: 40vw;
    /* margin-top: 2%; */
    /* border: 0.4em solid #9b51e0; */
}

.countdown {
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: #9b51e0;
}

.circular-progress {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: 0.5s;
    background-color: #13171f;
}

.circular-progress::before {
    width: 38.5vw;
    height: 38.5vw;
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: black;
}