/* General Styles */
* {
    font-family: Arial;
    color: inherit;
    background-color: inherit;
}

/* Flex Container */
.flex-container {
    width: 400px;
    height: 600px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: #0388A6;
}

/* Header Styling */
h1, h2 {
    font-family: Arial Black;
    font-size: 40px;
    color: #04668C;
    text-align: left;
    position: relative;
}

h2, h3, h4 {
    font-size: 25px;
    color: #F2A007;
    text-align: center;
    background-color: #04668C;
}

h3, h4 {
    font-family: Arial;
    font-style:oblique;
    font-weight: lighter;
    text-align: left;
    padding: 5px;
}

h4 {
    font-size: 15px;
    font-style: normal;
    font-weight:800;
}

/* Dove Icon */
.v-container::after {
    content: "";
    position: static;
    width: 40px;
    height: 40px;
    background-image: url('/images/doveWordmark.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: text-bottom;
}

/* Settings Cog */
.settings-cog {
    position: relative;
    left: 15%;
    top: -10px;
    width: 30px;
    height: 30px;
    background-image: url('/images/settingsCog.png');
    background-size: contain;
    border: none;
    background-color: #0388A6;
}

.settings-cog:hover {
    background-color: #0388A6;
}

/* Dark Blue Background */
.bg-container {
    background-color: #04668C;
    width: 97%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
}

.bg-container.other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

/* Input and Button Styling */
input[type="text"], input[type="text"]:hover {
    border: none;
}

button {
    padding: 10px 15px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#deleteButton {
    background-image: url('/images/trashClosed.png');
    width: 25px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px;
    margin-left: 0px;
    background-color: #04668C;
}

#deleteButton:hover {
    background-image: url('/images/trashOpen.png');
    width: 30px;
    height: 50px;
}

/* Nav-Bar Buttons */
.boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.unselected-box, .selected-box {
    width: 30%;
    height: 80px;
    background-color: #0388A6;
    border: #8C5C4A solid 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #F2A007;
    background-position: center;
}

#goalIcon {
    background-image: url('/images/goalsIcon.png');
}

#workIcon {
    background-image: url('/images/workIcon.png');
}

#restIcon {
    background-image: url('/images/restIcon.png');
}

.selected-box, .unselected-box:hover {
    height: 85px;
    background-color: #F28705;
}

/* Global Styles */
div, ul, li {
    background-color: inherit;
}

/* Placeholder Styling */
::placeholder {
    color: #F2A007;
}

/* Task List */
ul {
    list-style-type: none;
    padding: 0;
}

ul div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    border-bottom:5px solid #0388A6;
}

li {
    cursor: grab;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.notDrag {
    cursor:auto;
}

/* each text point in the list */
span {
    color:#F28705;
    width: 75vw;
    word-wrap:break-word;
}

#bulletPoint {
    width: 25px;
    height: 25px;
    background-image: url('/images/leafBulletPoint.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: none !important;
    margin-right: 15px;
}

/* for countdown timer */
.timer-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    position: relative;
}

.edit-buttons {
    position: relative;
    width: 100px;
    height: 30px;
    font-weight: 900;
    background-color: #F2A007;
    border-radius: 30%;
    color: #8C5C4A;
    padding: 0%;
    z-index: 10;
    margin: auto;
}

.edit-buttons:hover {
    background-color: #F28705;
    border-radius: 20%;
}

button#redirectBtn {
    top: 50%;
    width: 75px;
    left: 46%;
}

.countdown {
    position: relative;
    background-color: transparent;
    font-size:large;
    text-align: center;
}

.circular-progress {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
    background-color: #0388A6;
    flex-direction: column;
}

.circular-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vw;
    content: "";
    position: relative;
    border-radius: 50%;
    background-color: #0388A6;
}

/* Default containers */
.row-container {
    align-items: center;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    width: 100%;
}

.column-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3px;
    width: 100%;
}

/* Settings' Fancy Checkboxes */
#discussion label {
    border-radius:4px;
    border:3px solid #8C5C4A;
}

#discussion label span {
    text-align:center;
    display:block;
    background-color:#F2A007;
    color:#8C5C4A;
    font-weight:900;
    width: 100%;
}

#discussion label input {
    position:absolute;
    top:-20px;
}

#discussion input:checked + span {
    background-color:#8C5C4A;
    color:#F2A007;
}
input[type="range"] {
    accent-color: #F28705;
 }
